.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.homepage {
  padding-top: 100px;
}

.navbar {
  background-color: rgba(61, 139, 61, 1);
  border-color: rgba(0,0,0,0.55);
  color: black;
}

.navbar-default .navbar-brand {
  font-size: 30px;
  color: white;
}

.navbar-right .btn {
  margin-right: 6px;
  margin-top: 8px;
  color: white;
}

.select-sports {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  display: inline;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.select-sports img {
  max-height: 60px;
}

.fav-sports {
  display: inline;
}

.fav-sports img {
  max-height: 50px;
  border: 1px solid black;
  border-radius: 5px;
}


body {

  margin-top: 65px;
  background-color: #e9eaed;
}

.login body {
  /*background-image: url("http://www.consciousconnectionmagazine.com/wp-content/uploads/2013/05/yoga-alliance.jpg");*/
  background-image: url("http://megahdwall.com/wp-content/uploads/2014/06/Golf-Club-High-Quality-503493.jpg");
  background-size: cover;
}

.white-background {
  background-color: white;
}

.profile-header img {
  border-radius: 5px;
}

.profile-header h2 {
  margin-left: 10px;
  margin-top: 0px;
}

.profile-header p {
  margin-left: 10px;
  margin-bottom: 0px;
}

a {
  color: black;
}

.profile-friend {
  display: inline;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.profile-friend-name h6 {
  margin-top: 2px;
}

.profile-friend img {
  margin-left: 5px;
  margin-right: 5px;
}

.profile-facility {
  display: inline;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.profile-facility-name h6 {
  margin-top: 2px;
}

.profile-facility img {
  margin-left: 5px;
  margin-right: 5px;
  max-height: 50px;
  max-width: 50px;
}

.search_images {
  max-width: 120px;
}

.display_images {
  max-width: 170px;
}

.btn-warning {
  background-color: #f58220;
  border-color: #d4670a;
}

h1 {
  font-size: 48px;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.panel-body {
  text-align: center;
}

.panel-default {
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 30px;
  background-color: rgba(255,255,255,0.9);
  height: 185px;
}

.fac-title .btn {
  margin-left: 20px;
}

.fac-info {
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}


.button_to {
  display: inline-block;
  margin-left: 7px;
  vertical-align: center;
}

.navbar-right .button_to {
  margin-left: 0px;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 .fa-user {
  color: white;
 }

thead h3 .btn {
  margin-left: 50px;
}

.rev {
  margin-top: 20px;
}

.btn-facebook {
  margin-top: 100px;
  width: 300px;
  radius: 0px;
}

.navbar-profile-image {
  width: 19px;
  border-radius: 10%;
}

.navbar-default .navbar-nav li a {
  color: white;
}

.fa-bars {
  color: white;
}

.form-control {
  min-width: 300px;
  min-height: 30px;
}

.input-group-addon {
  min-width: 55px;
}

.navbar-default .navbar-nav .dropdown-menu li a {
  color: black;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.activity-feed-title {
  margin-left: 10px;
}

.activity-description div {
  display: inline;
}

.activity-feed {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.activity-feed img {
  border-radius: 5px;
}

.player-name {
  background-color: #428bca;
  border: 1px solid #357ebd;
  border-radius: 2px;
  color: white;
  padding: 1px;
}

.activity-date {
  color: rgba(145, 151, 163, 1);
}
