<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<form class="booking" role="booking" ng-submit="newBooking(selectedSport.id, taggedFriendsIds, selectedFacility.id, time)">
  <div class="input-group container-fluid">

    <span class="input-group-addon"><strong>Play</strong></span>
    <input type="text" ng-model="selectedSport" typeahead="sport as sport.name for sport in sports | filter:$viewValue | limitTo:8" class="form-control" placeholder="Choose a Sport ...">

    <span class="input-group-addon"><strong>with</strong></span>
    <tags-input type="text" ng-model="taggedFriends" display-property="name" add-from-autocomplete-only="true">
      <auto-complete min-length="1" source="loadTags($query, 7)"></auto-complete>
    </tags-input>

    <span class="input-group-addon"><strong>@</strong></span>
    <input type="text" ng-model="selectedFacility" typeahead="facility as facility.name for facility in facilities | filter:$viewValue | limitTo:8" class="form-control" placeholder="Choose a Facility ...">

    <span class="input-group-addon"><strong>at</strong></span>
    <div class="form-group">
      <input type="text" size="10" class="form-control" ng-model="sharedDate" data-autoclose="1" placeholder="Date" bs-datepicker>
      <input type="text" size="8" class="form-control" ng-model="sharedDate" data-autoclose="1" placeholder="Time" bs-timepicker>
    </div>
    <!-- <input type="time" class="form-control" placeholder="Time ..." ng-model="time"> -->
  </div>
  <button type="submit" class="btn btn-warning">Book</button>
</form>
<br>

<!-- Form for making a booking (only accepts one user) -->
<form class="booking" role="booking" ng-submit="newBooking(selectedSport.id, selectedPlayer.id, selectedFacility.id, time)">
  <div class="input-group container-fluid">

    <span class="input-group-addon"><strong>Play</strong></span>
    <input type="text" ng-model="selectedSport" typeahead="sport as sport.name for sport in sports | filter:$viewValue | limitTo:8" class="form-control" placeholder="Choose a Sport ...">

    <span class="input-group-addon"><strong>with</strong></span>
    <input type="text" ng-model="selectedPlayer" typeahead="friend as friend.name for friend in user.friends | filter:$viewValue | limitTo:8" class="form-control" placeholder="Choose a Player ...">

    <span class="input-group-addon"><strong>@</strong></span>
    <input type="text" ng-model="selectedFacility" typeahead="facility as facility.name for facility in facilities | filter:$viewValue | limitTo:8" class="form-control" placeholder="Choose a Facility ...">

    <span class="input-group-addon"><strong>at</strong></span>
    <div class="form-group">
      <input type="text" size="10" class="form-control" ng-model="sharedDate" data-autoclose="1" placeholder="Date" bs-datepicker>
      <!-- <input type="text" size="8" class="form-control" ng-model="sharedDate" data-autoclose="1" placeholder="Time" bs-timepicker> -->
    </div>
    <!-- <input type="time" class="form-control" placeholder="Time ..." ng-model="time"> -->
  </div>
  <button type="submit" class="btn btn-warning">Book</button>
</form>

<br>
<br>

<div ng-repeat="booking in bookings">
  <div ng-repeat="user in booking.users">
  {{user.name}},
  </div>
  are playing {{booking.sport.name}} @ {{booking.facility.name}} at {{booking.time}}
</div>




