<form class="booking" role="booking" ng-submit="newBooking(selectedSport.id, taggedFriendsIds, selectedFacility.id, sharedDate)">
  <div class="input-group container-fluid">

    <span class="input-group-addon"><strong>Play</strong></span>
    <input type="text" ng-model="selectedSport" typeahead="sport as sport.name for sport in sports | filter:$viewValue | limitTo:8" class="form-control" placeholder="Choose a Sport ...">


    <span class="input-group-addon"><strong>with</strong></span>
    <tags-input class="bootstrapCustom" replace-spaces-with-dashes="false" type="text" ng-model="taggedFriends" display-property="name" add-from-autocomplete-only="true" placeholder="Add friend ...">
      <auto-complete min-length="1" source="loadTags($query, 7)"></auto-complete>
    </tags-input>

    <span class="input-group-addon"><strong>@</strong></span>
    <input type="text" ng-model="selectedFacility" typeahead="facility as facility.name for facility in facilities | filter:$viewValue | limitTo:8" class="form-control" placeholder="Choose a Facility ...">

    <span class="input-group-addon"><strong>at</strong></span>
    <div class="form-group">
      <input type="text" size="10" class="form-control" ng-model="sharedDate" data-autoclose="1" placeholder="Date" bs-datepicker>
      <input type="text" size="8" class="form-control" ng-model="sharedDate" data-autoclose="1" placeholder="Time" bs-timepicker>
    </div>
  </div>
  <button type="submit" class="btn btn-warning">Book</button>
</form>

