<nav class="navbar navbar-default navbar-fixed-top" role="navigation" bs-navbar>
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#activityfeed">MySport</a>
    </div>

    <!-- Search Bar with 2 search boxes and a submit button -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search" ng-submit="search(sportType, area)">
        <div class="input-group">
          <span class="input-group-addon"><strong>Find</strong></span>
          <input type="text" class="form-control" placeholder="Golf club, Yoga, Gym" ng-model="sportType">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><strong>Near</strong></span>
          <input type="text" class="form-control" placeholder="Boston, London, NYC" ng-model="area">
        </div>
        <button type="submit" class="btn btn-warning">Search</button>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <span class="dropdown" on-toggle="toggled(open)">
            <button type="button" class="btn btn-primary dropdown-toggle" data-animation="am-fade-and-slide-top">Book a game!</button>
            <div class="dropdown-menu">
              <form ng-controller="BookingController" class="booking" role="booking" ng-submit="newBooking(selectedSport.id, taggedFriendsIds, selectedFacility.id, sharedDate)">
                <div class="input-group container-fluid">

                  <span class="input-group-addon"><strong>Play</strong></span>
                  <input type="text" ng-model="selectedSport" typeahead="sport as sport.name for sport in sports | filter:$viewValue | limitTo:8" class="form-control" placeholder="Choose a Sport ...">
                </div>

                <div class="input-group container-fluid">
                  <span class="input-group-addon"><strong>with</strong></span>
                  <tags-input class="bootstrapCustom" replace-spaces-with-dashes="false" type="text" ng-model="taggedFriends" display-property="name" add-from-autocomplete-only="true" placeholder="Add friend ...">
                    <auto-complete min-length="1" source="loadTags($query, 7)"></auto-complete>
                  </tags-input>
                </div>

                <div class="input-group container-fluid">
                  <span class="input-group-addon"><strong>@</strong></span>
                  <input type="text" ng-model="selectedFacility" typeahead="facility as facility.name for facility in facilities | filter:$viewValue | limitTo:8" class="form-control" placeholder="Choose a Facility ...">
                </div>

                <div class="input-group container-fluid">
                  <span class="input-group-addon"><strong>at</strong></span>
                  <div class="form-group">
                    <input type="text" size="10" class="form-control" ng-model="sharedDate" data-autoclose="1" placeholder="Date" bs-datepicker>
                    <input type="text" size="8" class="form-control" ng-model="sharedDate" data-autoclose="1" placeholder="Time" bs-timepicker>
                  </div>
                </div>
                <button type="submit" class="btn btn-warning">Book</button>
              </form>
            </div>
          </span>
        </li>
        <!-- <li><button type="button" class="btn btn-danger">Favourites</button></li> -->
        <li ng-show="hasUser"><a href="#/users/{{current_user.id}}"><img ng-src="{{current_user.image}}" class="navbar-profile-image"> My Profile</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars fa-lg"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/sports">Add Sports</a></li>
            <li class="divider"></li>
            <li><a href="#">Edit Profile</a></li>
            <li class="divider"></li>
            <li ng-click="logout()"><a>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


