<div class="white-background">
  <div class="row profile-header">
    <div class="col-md-1">
      <img src="{{user.image}}?type=normal">
    </div>
    <div class="col-md-4">
      <h2>{{user.name}}</h2>
      <p>Email: {{user.email}}</p>
      <p>Hometown: {{user.hometown}}</p>
      <p>Location: {{user.location}}</p>
    </div>
    <div class="col-md-3">
      <h2 class="text-center">Friends</h2>
      <a href="#/users/{{friend.id}}"><div class="profile-friend col-md-3" ng-repeat="friend in user.friends">
        <div class="profile-friend-image">
          <img src="{{friend.image}}">
        </div>
        <div class="profile-friend-name">
          <h6>{{friend.name}}</h6>
        </div></a>
      </div>
    </div>
    <div class="col-md-4">
      <h2 class="text-center">Facilities</h2>
    </div>
  </div>
  <div class="row">
  <h2><-- Some sport icons here --></h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Activity Feed</h2>
    </div>
  </div>
</div>


