/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  /*
 *= require rails_bootstrap_forms
 */

 body {
  padding-top: 100px;
  background-image: url("http://i.imgur.com/z78Kjoa.jpg");
  background-size: cover;
  }

 .navbar {
  background-color: rgba(0,0,0,0.75);
  color: white;
  font-style: italic;
}


.navbar-brand {
  font-size: 40px;
}

 .signin {
  font-size: 17px;
 }

.navbar-form {
  display: inline;
}
