<%= render 'layouts/facility_title' %>

<div class='row rev'>
  <div class='col-md-12'>
    <%= bootstrap_form_for [@facility, @review] do |f| %>
      <%= f.text_area :body,label: "New Review" %>
      <%= f.submit %>
    <% end %>
  </div>
</div>

